# cli_theatre configuration file
# On GNU/Linux, usually stored in ~/.config/cli_theatre/config

[library]
# Path where media files are stored 
path=/mnt/series/
# Path where the database file will be stored
db=/tmp/db.sqlite
# Language on three letters (see ISO-639-3)
sub_language=eng
